<label class="item folder folder-child" value="{{ path }}"><span class="glyphicon glyphicon-{{#if open}}minus{{else}}plus{{/if}}"><span class="glyphicon glyphicon-folder-{{#if open}}open{{else}}close{{/if}}"></span>{{ name }}</label>
<ol class="filelist" id="p{{ path }}">
</ol>