<div id="parameters" class="row">
  <div class="col-md-6">
    <h4 class="text-capitalize">
        {{title}}
    </h4>
    {{#if randomizable}}
    <br>
    <label>
      Randomized: <input type="checkbox" id="experiment_randomized"{{#if model.randomized}}checked{{/if}}>
    </label>
    {{/if}}
  </div>
  <div class="col-md-6">
    {{description}}
  </div>
</div>
<button class="btn btn-success add-variable">Upload CSV</button>
{{#if rows}}
<div class="parameterset">
  <table class="table table-bordered parameter-table">
    {{#each rows}}
      {{#if @first}}
      <thead>
      <tr>
        {{#each this}}
          {{#if @first}}<th class="first"{{else}}<td dataname="{{this.name}}"{{/if}}>{{this.name}}</t{{#if @first}}h{{else}}d{{/if}}>
        {{/each}}
      </tr>
      <tr>
        {{#each this}}
          <th>
            <div class="form-inline">
            {{#if this.dataTypes}}<label class="parameterset-label">Data Type</label><select class="form-control datatype" dataname="{{this.name}}">{{#each this.dataTypes}}<option value="{{this.name}}"{{#if this.selected}} selected{{/if}}>{{this.name}}</option>{{/each}}</select>{{/if}}{{#if this.files }}<span class="file-menu" dataname="{{this.name}}"></span>{{/if}}
            </div>
          </th>
        {{/each}}
      </tr>
      </thead>
      {{else}}
      <tr>
        {{#each this}}
          {{#if @first}}<th class="first"{{else}}<td datatype="{{this.dataType}}" dataindex="{{this.index}}" dataname="{{this.name}}"{{/if}}>{{this.value}}</t{{#if @first}}h{{else}}d{{/if}}>
        {{/each}}
      </tr>
      {{/if}}
      {{#if @first}}
      <tbody>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>
{{/if}}