<div id="trial-draw" style="height: {{height}}px; width: {{width}}px"><canvas id="trial-canvas" height="{{height}}" width="{{width}}"></canvas><div id="trial-elements" style="height: {{height}}px; width: {{width}}px"></div></div>
<div id="trial-hidden"></div>
