<div id="trial-draw" style="height: {{height}}px; width: {{width}}px"><canvas id="trial-canvas" height="{{height}}" width="{{width}}"></canvas><div class="trial-elements" style="height: {{height}}px; width: {{width}}px"><input type="text" value="this"></input></div></div>
<div id="trial-hidden"></div>
